node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
ios/
android/
.DS_Store
.env*.local
.idea
.vscode
expo-env.d.ts
playwright-report/
test-results/
.maestro/screenshots/
